---
import Button from "@/components/Button.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section class="bg-black flex items-center justify-center h-screen">
    <img
      src="/img/roshi.png"
      alt="Master Roshi posing"
      srcset=""
      class="lg:max-h-[60vh]"
    />
    <div class="gap-2">
      <h1 class="text-orange-300 text-9xl font-dbz2 text-center">404</h1>
      <p class="text-orange-200 text-3xl text-center p-6">
        Something went wrong
      </p>
      <Button btn="Back to Home" href="/" />
    </div>
  </section>
</Layout>
