<main class="relative h-dvh w-full overflow-x-hidden">
  <div
    id="video-frame"
    class="relative z-10 h-dvh w-screen overflow-hidden rounded-lg bg-orange-50"
  >
    <img
      id="video-frame"
      src="img/hero-image-min.jpeg"
      class="absolute z-10 left-0 top-0 size-full object-cover object-center"
      alt="Goku picture from back"
    />
    <h1
      class="absolute z-40 bottom-5 right-5 hero-heading text-orange-300 special-font"
    >
      Ball <span class="font-saiyan">Z</span>
    </h1>
    <div class="absolute left-0 top-0 z-40 size-full">
      <div class="mt-24 px-5 sm:px-10">
        <h2 class="hero-heading text-orange-300">Dragon</h2>
        <div class="mb-5 max-w-64 font-robert-regular text-black">
          <p>Revive your childhood</p>
          <p>Unleash the inner power</p>
        </div>
      </div>
    </div>
  </div>
  <h1 class="hero-heading absolute bottom-5 right-5 text-black special-font">
    Ball <span class="font-saiyan">Z</span>
  </h1>
</main>
<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";

  // Registrar ScrollTrigger con GSAP

  gsap.registerPlugin(ScrollTrigger);

  window.addEventListener("load", () => {
    // Configuraci贸n inicial de gsap.set()
    gsap.set("#video-frame", {
      clipPath: "polygon(14% 0, 72% 0, 88% 90%, 0 95%)",
      borderRadius: "0% 0% 40% 10%",
    });

    // Animaci贸n con gsap.from() y ScrollTrigger
    gsap.from("#video-frame", {
      clipPath: "polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)",
      borderRadius: "0% 0% 0% 0%",
      ease: "power1.inOut",
      scrollTrigger: {
        trigger: "#video-frame", // Elemento que dispara la animaci贸n
        start: "center center", // Empieza cuando el centro del cuadro llegue al centro de la pantalla
        end: "bottom center", // Termina cuando el fondo del cuadro llegue al centro de la pantalla
        scrub: true, // Sincroniza la animaci贸n con el scroll
      },
    });
  });
</script>
